window {
  background-color: rgba(10, 10, 10, 0.9);
}

#entry {
  color: white;
  padding: 0px;
}

#entry:selected {
  background-color: #2f3d3c;
  color: inherit
}

#img {
  margin-bottom: 3px;
  min-width: 48px;
  min-height: 48px;
}

#input {
  margin: 20px;
  font-size: 24px;
}

